In [30]:
import pandas as pd
import numpy as np

In [60]:
df=pd.read_csv('./tmdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [61]:
#remove unused columns
df= df.drop(['id' , 'imdb_id', 'popularity' , 'homepage' , 'budget_adj' , 'revenue_adj' , 'overview' , 'keywords' , 'production_companies' ,'vote_count', 'vote_average']
             , axis=1)

In [62]:
#data after deleting
df.head()

,budget,revenue,original_title,cast,director,tagline,runtime,genres,release_date,release_year
0,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,124,Action|Adventure|Science Fiction|Thriller,6/9/2015,2015
1,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,120,Action|Adventure|Science Fiction|Thriller,5/13/2015,2015
2,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,119,Adventure|Science Fiction|Thriller,3/18/2015,2015
3,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,136,Action|Adventure|Science Fiction|Fantasy,12/15/2015,2015
4,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,137,Action|Crime|Thriller,4/1/2015,2015

In [63]:
#check duplicated values
df.duplicated().sum()

1

In [64]:
df.drop_duplicates (inplace=True)
#check duplicate again
df.duplicated().sum()

0

In [65]:
#change release date type
df.release_date=pd.to_datetime(df['release_date'])

In [66]:
#view after changing
df.head()

,budget,revenue,original_title,cast,director,tagline,runtime,genres,release_date,release_year
0,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,124,Action|Adventure|Science Fiction|Thriller,2015-06-09,2015
1,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,120,Action|Adventure|Science Fiction|Thriller,2015-05-13,2015
2,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,119,Adventure|Science Fiction|Thriller,2015-03-18,2015
3,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,136,Action|Adventure|Science Fiction|Fantasy,2015-12-15,2015
4,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,137,Action|Crime|Thriller,2015-04-01,2015

In [67]:
#check zeros in runtime
runTime=df.runtime==0
runTime.sum()

31

In [68]:
#replace zeros with NAN to delete 
df.runtime=df.runtime.replace(0 , np.NAN)

In [69]:
#delete NAN values from runtime
df.dropna(inplace=True)

In [70]:
runtime=df.runtime==0
runtime.sum()

0

In [71]:
#check zeros in budget
budget1=df.budget==0
budget1.sum()

3451

In [72]:
#check zeros in revenue
revenue1=df.revenue==0
revenue1.sum()

3614

In [73]:
#replace zeros with NAN to delete 
list_br=['budget','revenue']
df[list_br]=df[list_br].replace(0 , np.NAN)

In [74]:
#delete NAN values from budget&revenue
list_br=['budget','revenue']
df.dropna(subset=list_br ,inplace=True)

In [75]:
df.shape

(3572, 10)

In [76]:
#changing type of budget,revenue and runtime
df['budget'] = df['budget'].astype(int)
df['revenue'] = df['revenue'].astype(int)
df['runtime'] = df['runtime'].astype(int)
df.dtypes

budget                     int32
revenue                    int32
original_title            object
cast                      object
director                  object
tagline                   object
runtime                    int32
genres                    object
release_date      datetime64[ns]
release_year               int64
dtype: object

In [86]:
#add new column profit
df['Profit']=df['revenue']-df['budget']
df.head()

,budget,revenue,original_title,cast,director,tagline,runtime,genres,release_date,release_year,Profit
0,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,124,Action|Adventure|Science Fiction|Thriller,2015-06-09,2015,1363528810
1,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,120,Action|Adventure|Science Fiction|Thriller,2015-05-13,2015,228436354
2,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,119,Adventure|Science Fiction|Thriller,2015-03-18,2015,185238201
3,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,136,Action|Adventure|Science Fiction|Fantasy,2015-12-15,2015,1868178225
4,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,137,Action|Crime|Thriller,2015-04-01,2015,1316249360

In [93]:
def _minmax(x):
    
    min_val=df[x].idxmin()
    low=pd.DataFrame(df.loc[ min_val])
    
    max_val=df[x].idxmax()
    high=pd.DataFrame(df.loc[ max_val])
    
    print("Movie which has highest"+ x + ":" , df['original_title'][max_val])
    print("Movie which has lowest"+ x + ":" , df['original_title'][min_val])
    return pd.concat([high , low], axis=1)

_minmax('Profit')

Movie which has highestProfit: Avatar
Movie which has lowestProfit: The Warrior's Way

,1386,2244
budget,237000000,425000000
revenue,-2147483648,11087569
original_title,Avatar,The Warrior's Way
cast,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...
director,James Cameron,Sngmoo Lee
tagline,Enter the World of Pandora.,Assassin. Hero. Legend.
runtime,162,100
genres,Action|Adventure|Fantasy|Science Fiction,Adventure|Fantasy|Action|Western|Thriller
release_date,2009-12-10 00:00:00,2010-12-02 00:00:00
release_year,2009,2010
Profit,1910483648,-413912431

In [94]:
#movie with large&lowest budget
_minmax('budget')

Movie which has highestbudget: The Warrior's Way
Movie which has lowestbudget: Lost & Found

,2244,2618
budget,425000000,1
revenue,11087569,100
original_title,The Warrior's Way,Lost & Found
cast,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,David Spade|Sophie Marceau|Ever Carradine|Step...
director,Sngmoo Lee,Jeff Pollack
tagline,Assassin. Hero. Legend.,A comedy about a guy who would do anything to ...
runtime,100,95
genres,Adventure|Fantasy|Action|Western|Thriller,Comedy|Romance
release_date,2010-12-02 00:00:00,1999-04-23 00:00:00
release_year,2010,1999
Profit,-413912431,99

In [95]:
#movie with large&lowest revenue
_minmax('revenue')

Movie which has highestrevenue: Star Wars: The Force Awakens
Movie which has lowestrevenue: Avatar

,3,1386
budget,200000000,237000000
revenue,2068178225,-2147483648
original_title,Star Wars: The Force Awakens,Avatar
cast,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director,J.J. Abrams,James Cameron
tagline,Every generation has a story.,Enter the World of Pandora.
runtime,136,162
genres,Action|Adventure|Science Fiction|Fantasy,Action|Adventure|Fantasy|Science Fiction
release_date,2015-12-15 00:00:00,2009-12-10 00:00:00
release_year,2015,2009
Profit,1868178225,1910483648

In [96]:
#movie with large&lowest runtime
_minmax('runtime')

Movie which has highestruntime: Carlos
Movie which has lowestruntime: Mickey's Christmas Carol

,2107,8005
budget,18000000,3000000
revenue,871279,21000000
original_title,Carlos,Mickey's Christmas Carol
cast,Edgar RamÃƒÂ­rez|Alexander Scheer|Fadi Abi Samra...,Alan Young|Wayne Allwine|Clarence Nash|Hal Smi...
director,Olivier Assayas,Burny Mattinson
tagline,The man who hijacked the world,He's back! Mickey Mouse - in his first new mot...
runtime,338,26
genres,Crime|Drama|Thriller|History,Family|Animation
release_date,2010-05-19 00:00:00,1983-10-19 00:00:00
release_year,2010,1983
Profit,-17128721,18000000

In [105]:
#average of runtime
avg=df['runtime'].mean()
print("the average runtime {} minutes".format(avg))

the average runtime 109.12290033594626 minutes

In [107]:
#which year has most no of profitable movies
profit_year=df.groupby('release_year')['Profit'].sum()
profit_year.idxmax()

2015

In [112]:
#successful genres with respect to the profitable movies
#first cal mean of profit
prof_mean=df.Profit.mean()
prof_mean

74941494.24552071

In [115]:
prof_movies = df.query('Profit >=74941494.24552071 ')
prof_movies.head()

,budget,revenue,original_title,cast,director,tagline,runtime,genres,release_date,release_year,Profit
0,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,124,Action|Adventure|Science Fiction|Thriller,2015-06-09,2015,1363528810
1,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,120,Action|Adventure|Science Fiction|Thriller,2015-05-13,2015,228436354
2,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,119,Adventure|Science Fiction|Thriller,2015-03-18,2015,185238201
3,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,136,Action|Adventure|Science Fiction|Fantasy,2015-12-15,2015,1868178225
4,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,137,Action|Crime|Thriller,2015-04-01,2015,1316249360

In [116]:
len(prof_movies)

1014

In [117]:
genre_data = prof_movies['genres'].str.cat(sep='|')
genre_data = pd.Series(genre_data.split('|'))
genre_data

0                Action
1             Adventure
2       Science Fiction
3              Thriller
4                Action
             ...
2880          Adventure
2881            Fantasy
2882             Action
2883    Science Fiction
2884             Comedy
Length: 2885, dtype: object

In [118]:
genre_count = genre_data.value_counts()
genre_count.head()

Comedy       371
Action       367
Drama        343
Adventure    310
Thriller     291
dtype: int64

In [119]:
actor = prof_movies['cast'].str.cat(sep='|')
actor = pd.Series(actor.split('|'))
actor

0               Chris Pratt
1       Bryce Dallas Howard
2               Irrfan Khan
3         Vincent D'Onofrio
4             Nick Robinson
               ...
5065           John Belushi
5066           Tim Matheson
5067            John Vernon
5068            Verna Bloom
5069              Tom Hulce
Length: 5070, dtype: object

In [120]:
actor_count = actor.value_counts()
actor_count.head()

Tom Cruise            26
Tom Hanks             20
Sylvester Stallone    19
Brad Pitt             19
Adam Sandler          18
dtype: int64

In [121]:
#Average budget (with respect to the profitable movies)
budget_prof = prof_movies['budget'].mean()
print('The average budget of profitable movies is {} Dollars'.format(budget_prof))

The average budget of profitable movies is 67726101.68934911 Dollars

In [122]:
#Average revenue (with respect to the profitable movies)
revenue_prof = prof_movies['revenue'].mean()
print('The average revenue of profitable movies is {} Dollars'.format(revenue_prof))

The average revenue of profitable movies is 298134470.12426037 Dollars

In [124]:
#Average runtime (with respect to the profitable movies)
runtime_prof = prof_movies['runtime'].mean()
print('The average runtime of profitable movies is {} minutes'.format(runtime_prof))

The average runtime of profitable movies is 114.87771203155819 minutes